@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,300&display=swap');

:root{
    --color-primary: #5168fa;
    --dark-color: #11152a;
    --color-success: #41f1b6;
    --light-color: #d0d4ed;
    --color-white: #fff;
    --color-warning: #ffbb55;
    --color-dark: #363949;
    --color-info-light: #dce1eb;
    --color-info-dark: #7b8da1;
    --color-danger: #d90429;
    --color-primary-variant: #111e8b;
    --yellow-color: #ff8800;
    --deep-red-color: #8d0801;
    --success-color: #38b000;
    --color-backgroud: #f6f6f9;
    --color-light: rgba(132, 129, 200, 0.18);
    --color-dark-variant: #677483;


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.6rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--light-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    appearance: none;
    outline: none;
}

htm{
    font-size: 14px;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    font-size: 0.88rem;
    background-color: var(--color-backgroud);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

i{
    font-size: 1.3rem;
}

.dark-them-variables {
    --color-backgroud: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-lgt);
    --light-color: rgba(0, 0, 0, 0.4);
}

.container{
    display: grid;
    /* margin: 0 auto; */
    width: 96%;
    /* background-color: red; */
    gap: 18px;
    grid-template-columns: 14rem auto 23rem;
}

.profile_photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text_muted{
    color: var(--color-info-light);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.warning{
    color: var(--color-warning);
}

.success{
    color: var(--color-success);
}

.title_logo{
    color: var(--color-dark);
}

.profile_photo1 i{
    /* background-color: yellow; */
    padding: 1rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1rem;
    background-color: var(--color-white);
    color: var(--color-dark);
    border: 2px solid var(--color-dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

aside{
    height: 100vh;
    /* background-color: #fff; */
    /* background-color: blue; */
}

aside .top{
    /* background: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: -1.1rem;
}

aside .logo h2{
    line-height: 3;
}

aside .logo img{
    width: 4rem;
    height: 4rem;
}

aside .close_btn{
    display: none;
}

/* sidebar section */
aside .sidebar{
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    height: 77vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    color: var(--color-info-dark);
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    position: relative;
    align-items: center;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--light-color);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
    margin-right: 0.7rem;
    transition: all 300ms ease;
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .message_count{
    background-color: var(--color-danger);
    color: var(--color-info-light);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ====================== main ============================ */
main{
    margin-top: 1.5rem;
    /* background-color: red; */
}

main .date{
    display: inline-block;
    background-color: var(--light-color);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
}

main .date input[type='date']{
    background: transparent;
    color: var(--color-dark);
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.1rem;
}

main .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights > div i{
    /* background-color: yellow; */
    padding: 0.8rem;
    border-radius: 50%;
    font-size: 1.6rem;
    background-color: var(--color-primary);
    color: var(--color-white);
}

main .insights > div.courses i{
    background-color: var(--color-warning);
}

main .insights > div.income i{
    background-color: var(--color-success);
}

main .insights > div .middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .insights h1{
    margin: 1rem 0 0.6rem;
    font-size: 1.2rem;
}

main .insights .progress{
    position: relative;
    width: 40%;
    height: 40%;
    border-radius: 50%;
}

main .insights svg{
    /* background: red; */
    width: 6rem;
    height: 6rem;
}

main .insights svg circle{
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .student_total svg circle{
    stroke-dashoffset: -25;
    stroke-dasharray: 145;
}

main .insights .courses svg circle{
    stroke-dashoffset: -30;
    stroke-dasharray: 200;

}

main .insights .income svg circle{
    stroke-dashoffset: -32;
    stroke-dasharray: -105;
}

main .insights .progress .number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .insights small{
    display: block;
    margin-top: 1.2rem;
}

main .enrolled_courses{
    margin-top: 2rem;
}

main .enrolled_courses h2{
    margin-bottom: 0.8rem;
}

main .enrolled_courses table{
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    width: 100%;
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    text-align: center;
    transition: all 300ms ease;
}

main .enrolled_courses table:hover{
    box-shadow: none;
}

main .enrolled_courses table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-info-light);
    color: var(--color-dark-variant);
}

main .enrolled_courses table tbody tr:last-child td{
    border: none;
}

main .enrolled_courses .show_more{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/* =============== right =================== */
.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    /* background: red; */
    gap: 2rem;
}

.right .top button{
    display: none;
}

.right .theme_toggler{
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.6rem;
    width: 3.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme_toggler i{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.right .theme_toggler i.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile{
    display: flex;
    text-align: right;
    gap: 1rem;
}

.right .top .profile_photo1{
    margin-top: -15px;
}

.right .top .profile_photo1 i{
    display: flex;
    line-height: 5px;
    margin-bottom: 12px;
}

.right .recent_notification{
    margin-top: 1.3rem;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent_notification:hover{
    box-shadow: none;
}

.right .recent_notification h2{
    margin-bottom: 1.7rem;
}

.right .update_notif .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1.2rem;
    margin-bottom: 1rem;
}

.right .course_analytics{
    margin-top: 2rem;
}

.right .course_analytics h2{
    margin-bottom: 1rem;
}

.right .course_analytics .item{
    display: flex;
    gap: 1rem;
    background: var(--color-white);
    align-items: center;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .course_analytics .item:hover{
    box-shadow: none;
}

.right .course_analytics .item .right{
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    align-items: start;
}

.right .course_analytics .item .icon i{
    padding: 0.6rem;
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
    background-color: var(--color-primary);
    width: 50px;
    height: 50px;
    align-items: center;
}

.right .course_analytics .item.offline .icon i{
    background-color: var(--color-warning);
}



@media screen and (max-width: 1200px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside .logo h2{
        display: none;
    }
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar a{
        width: 5.5rem;
    }
    aside .sidebar a:last-child{
        margin-top: 1.8rem;
        position: relative;
    }
    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }
    main .enrolled_courses{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }
    main .enrolled_courses table{
        width: 82vw;
    }
    main table thead tr th:last-child, main table thead tr th:first-child{
        display: none;
    }
    main table tbody tr th:last-child, main table tbody tr th:first-child{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }
    aside{
        display: none;
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100%;
        padding-right: var(--card-padding);
        animation: showMenu 400ms ease forwards;
    }
    @keyframes showMenu {
        to {
            left: 0;
        }
    }
    aside .logo{
        margin-left: 1rem;
    }
    aside .logo h2{
        display: inline;
    }
    aside .sidebar h3{
        display: inline;
        font-size: 12px;
    }
    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }
    /* aside .sidebar a:last-child{
        position: absolute;
        /* bottom: 5rem; */
    /* }  */
    aside .close_btn{
        cursor: pointer;
        display: inline-block;
    }
    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }
    main .enrolled_courses{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    main .enrolled_courses table{
        width: 100%;
        margin: 0;
    }
    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }
    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        z-index: 2;
        margin: 0;
        box-shadow: 0 1rem 1rem var(--light-color);
    }
    .right .top .theme_toggler{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }
    .right .profile .info{
        display: none;
    }
    .right .top button{
        display: inline-block;
        cursor: pointer;
        background: transparent;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
        font-size: 2rem;
    }
    .right .top button i{
        font-size: 2rem;
    }
    .profile_photo1 i{
        margin-top: 25px;
    }
}
